Question: What does `$component` mean?

| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | no

I have a generic question about the name of the `$component` argument one can pass to a `Component/Checker/TokenTypeSupport.php` implementation. What does `$component` mean in this context? [It looks like it's the index of something](https://github.com/web-token/jwt-framework/blob/2fc81c755f679160e55577a53121ea86f30a1553/src/Component/Encryption/JWETokenSupport.php#L42) referred to as a `recipient` on the token. Would it be better referred to as an `$index`? I'm not familiar enough with some of the more exotic forms of JWTs to guess from the name `$component` what that indicates. Perhaps I've overlooked something in the docs?

https://github.com/web-token/jwt-framework/search?utf8=%E2%9C%93&q=retrieveTokenHeaders&type=

Thanks for the insight! Love this library.

As [Phil Karlton](https://martinfowler.com/bliki/TwoHardThings.html) wrote, naming things is quite hard.
It is clear that `component` variable should be renamed in something else (e.g. `index` as you proposed).

The JWS and JWE Json General Serialization modes allow several signatures/recipients.
The header should be the union of the protected, unprotected or per recipient headers (see [4. in RFC7515 section 5.2](https://tools.ietf.org/html/rfc7515#section-5.2) for JWS) hence it is required to know which signature or recipient is concerned.
If there is only one signature/recipient (99% of use cases), you should not care of that variable, otherwise it is important to use it as it may lead to unwanted behavior.

I will rename that variable for the next minor release.
I will also add clarifications in each PHPDoc annotations (not only that method but for the whole project).

I renamed that variable and added some PHPDoc annotations.
Hope it helps.

Tagged `v1.1.0-beta1`; Will be marked as stable soon.