AUD is represented in array not as single string

**Describe the bug**

**To Reproduce**
```
            $key = JWKFactory::createFromKeyFile(
                        'private.key'
                    );
            $time = time();

            $jws = Build::jws() // We build a JWS
                ->exp($time + 1800) // The "exp" claim
                ->iat($time) // The "iat" claim
                ->jti('SOMETHING1') // The "jti" claim.
                ->alg('PS256') // The signature algorithm. A string or an algorithm class.
                ->iss('SOMETHINGDIFF') // The "iss" claim
                ->aud('SOMETHINGAUD') // Add another audience
                ->sub('SOMETHING3') // The "sub" claim
                ->header('kid', 'SOMETHING4')
                ->sign($jwk); // Compute the token with the given JWK

            var_dump($jws);
```

```
//Generated jwt
eyJhbGciOiJQUzI1NiIsImtpZCI6IlNPTUVUSElORzQifQ.eyJleHAiOjE1ODA2MjcxNDksImlhdCI6MTU4MDYyNTM0OSwianRpIjoiU09NRVRISU5HMSIsImlzcyI6IlNPTUVUSElOR0RJRkYiLCJhdWQiOlsiU09NRVRISU5HQVVEIl0sInN1YiI6IlNPTUVUSElORzMifQ.lFVUaD3htUeuCcs4R0Pqu6F2mB-OLJOK8OdEKqxnEary86l_5WfBJXjD3GdH4FY0WiUjgQ7sEN6jwtYsR-jUQxyGOMEqPRGcppdDlUBHk2375DaXHywSzoY8B-egIQ-F6bmMSHc407oVf1VSYG4-nWcsULyRs5x88ANIBlguag3mnTRU0wyJ9HEK8KhjtiTknkPgh2WHQwWKd6FxFKEoFw_w8mlxHhByhVQXXsvmWX7d8BuCVkw220IYydyaUJdUwB1hS_5Z6m1bOmDr9Sx1B8RBN3D4ZU6Yno6Fz-wF8R75ANBJG8YNGifVTGIsPL9AphhU6J2VzHEQ9mNgq0xDQg
```
**Expected behavior**
{
  "exp": 1580627149,
  "iat": 1580625349,
  "jti": "SOMETHING1",
  "iss": "SOMETHINGDIFF",
  "aud":  "SOMETHINGAUD", //Single Value
  "sub": "SOMETHING3"
}
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/10250923/73604305-7697d500-459f-11ea-9942-085627cc9daf.png)


Hi @hi2rashid,

This is not a bug. This representation is the normal behaviour as specified in the [RFC7519 section 4.1.3](https://tools.ietf.org/html/rfc7519#section-4.1.3)

> […]in the general case, the "aud" value is an array of case-
   sensitive strings, each containing a StringOrURI value.[…]

The RFC allows implementations to support single string value:

> […]In the
   special case when the JWT has one audience, the "aud" value MAY be a
   single case-sensitive string containing a StringOrURI value.[…]

This special way of claim representation is not implemnted. This is intended in order to simplify the developer experience and avoid checking if he claim is an array or a string.
To check if the claim is valid, you just have to call the `in_array` function.

The Thirdparty service is supporting only single string in the `aud` 

So I ended up modifying the library this way

FIle: /vendor/web-token/jwt-easy/JWSBuilder.php
```

class JWSBuilder extends AbstractBuilder
{
    public function sign(JWK $jwk): string
    {
        $builder = new JoseBuilder(new AlgorithmManager($this->algorithms));
        
        /* 
         * Modified Code to support Single string value for aud;
         * Bug: https://github.com/web-token/jwt-framework/issues/244
         */
        $all_claims = $this->jwt->claims->all();
        if( isset($all_claims["aud"]) && is_array($all_claims["aud"]) && count($all_claims["aud"]) == 1 ){
            $all_claims["aud"] = $all_claims["aud"][0]; //Only First one
        }
        
        $jws = $builder
            ->create()
            ->withPayload(JsonConverter::encode($all_claims))
            ->addSignature($jwk, $this->jwt->header->all())
            ->build()
        ;

        return (new CompactSerializer())->serialize($jws);
    }

......


}
```

You can use the method `claim` instead:

```php
$jws = Build::jws() // We build a JWS
    // …
    ->claim('aud', 'AUDIENCE')
    // …
    ->sign($jwk);
```

@Spomky That Worked as expected. :) 